.button__categories__all {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #802c6e;
}
.button {
  background-color: #802c6e;
  font-size: 15px;
  padding: 15px 30px;
  border-width: 0.5px;
  color: white;
  font-family: "Proxima Nova", sans-serif;
  text-transform: capitalize;
}
